<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @pedido.person %>
</p>

<p>
  <strong>Quant:</strong>
  <%= @pedido.quant %>
</p>

<p>
  <strong>When:</strong>
  <%= @pedido.when %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
